<launch>
    <!-- Bring up the pioneer robot -->
    <include file="$(find pioneer_tfm)/launch/bring_upv2.launch" />
    <!--param name="/use_sim_time" value="true" /-->

    <!-- Publish transforms -->
    <include file="$(find pioneer_tfm)/launch/pioneer_tf.launch" />
    
    <node pkg="pioneer_tfm" type="RobotControl.py" name="robotControl" output="screen" />

    <include file="$(find pioneer_tfm)/launch/localization_pioneer.launch" />
    
    <!--include file="$(find pioneer_tfm)/launch/pioneer_teleop.launch" /-->
    
    <!--node pkg="rviz" type="rviz" name="rviz_hdl" args="-d $(find pioneer_tfm)/rviz/localization_pioneer.rviz" /-->

    <!-- Launch the navigation stack with the DWA local planner -->
    <include file="$(find pioneer_tfm)/navigationSTVL-DWA/launch/navigationPioneer.launch" />

   <node pkg="rviz" type="rviz" name="rviz_costmap" args="-d $(find pioneer_tfm)/rviz/costmap.rviz" />

    </launch>
