<launch>
    <param name="/use_sim_time" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find p2os_urdf)/defs/pioneer3at.xacro'" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -model P3AT -z 0.3" respawn="false" output="screen" />

    <include file="$(find pioneer)/launch/hdl_localization_pioneer.launch" >
        <arg name="map_file" value="$(find pioneer)/data/mapa_ull_clean.pcd" />
        <arg name="odom_child_frame_id" value="base_link" />
    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pioneer)/rviz/localization_pioneer.rviz" />

</launch>